{%extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<header class="bg-dark py-5 position-relative">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Bienvenido a tu plataforma de aprendizaje gratuita</h1>
                    <p class="lead text-white-50 mb-4">En esta plataforma tendrás la oportunidad de aprender temas de tu interés, con personas que, a su vez, desean enseñar gratuitamente</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Empecemos</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Leer mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Features section-->

{% if documents %}

    {% for document in documents %}
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <li><a href="/show?id={{ document.id }}">{{ document.title }}</a></li><br>
                        <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                            <img src="media/{{document.thumbnail}}" class="img-fluid" />
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

{% else %}

{% endif %}


{% endblock %}
