{% extends 'base.html' %}

{% block content %}
<head>
	<h1>Videos:<br>
		
	</h1>
</head>
<section>
{% if documents %}

		<ul>
		{% for document in documents %}
		<div class="row">
			<!--Grid column-->
			<div class="col-md-9 mb-4">
				<div class="row">
					<div class="col-md-4 mb-4">
						<header>
							<h2>
							<li><a href="/show?id={{ document.id }}">{{ document.title }}</a></li><br>
							</h2>
						</header>
					  <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
						<img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
						
						  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
						</a>
					  </div>
					</div>
	
				  </div>
			</div>
		</div>
		{% endfor %}
		</ul>
{% else %}
		<p>No videos to show :(</p>

	
{% endif %}

</section>
{% endblock %}