<head>
	<style type="text/css">

	</style>
	<script type="text/javascript">

	</script>
</head>


<!-- List of uploaded documents -->
<body>
{% include 'navbar.html' %}
  <main>
      {% block content%}
      {% endblock %}
  </main>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js%22%3E"></script>
  <!-- Core theme JS-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- *                               SB Forms JS                               * -->
  <!-- * Activate your form at https://startbootstrap.com/solution/contact-forms * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js%22%3E"></script>
{% if documents %}
		<ul>
		{% for document in documents %}
				<li><a href="/show?id={{ document.id }}">Hyperlink{{ document.docfile.name }}</a></li>
		{% endfor %}
		</ul>
{% else %}
		<p>No documents.</p>
{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form  action="showFiles" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<p>{{ form.non_field_errors }}</p>
				<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
				<p>
						{{ form.docfile.errors }}
						{{ form.docfile }}
				</p>
				<p><input type="submit" value="Upload" /></p>
		</form>
</body>