{% extends 'base.html' %}

{% load static %}

{% block title %} {{ video.title }} {% endblock %}

{% block content%}
<section class="pt-3 pt-xl-5">
  <div class="container mx-0" data-sticky-container>
    <div class="row g-4">
      <!-- Video content START -->
      <div class="col-lg-8">
        <div class="row g-4">
          <video id="video" controls></video>
          <div class=>
            <h3> {{ video.title }} </h3>
            <h5> {{ video.author.username }} </h5>
          </div>
        </div>
      </div>
      <!-- Video content START -->
      <!-- Dependencies sidebar START -->
      <div class="col-lg-4">
        <h3>
          Dependencies
        </h3>
      </div>
      <!-- Dependencies sidebar END -->
    </div>
  </div>
</section>

<script src="https://hls-js.netlify.app/dist/hls.js"></script>
<script>
  var video = document.getElementById('video');
  if (Hls.isSupported()) {
    var hls = new Hls({
      debug: true,
    });
    hls.loadSource('{{ url }}');
    hls.attachMedia(video);
    hls.on(Hls.Events.MEDIA_ATTACHED, function () {
      video.muted = true;
      video.play();
    });
  }
  else if (video.canPlayType('application/x-mpegURL')) {
    video.src = '{{ url }}';
    video.addEventListener('canPlayType', function () {
      video.play();
    });
  }
</script>
{% endblock %}
