{% extends 'base.html' %}

{% block content %}

<section class="pt-2 pt-xl-3 pb-2 ">
	<div class="container" data-sticky-container>
		<h1>Videos:<br>
		
		</h1>
{% if documents %}	
		<div class="row">
		{% for document in documents %}
			<!--Grid column-->
				<div class="col-3 card m-2">
						<div class="card-header border-bottom">
							<h2>
								<a href="/show?id={{ document.id }}">{{ document.title }}</a><br>
							</h2>
						</div>
					  	<div class="card-body bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                            <img src="media/{{document.thumbnail}}" class="img-fluid" />
						<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
						</div>
				</div>
		{% endfor %}
		</div>
{% else %}
		<p>No videos to show :(</p>

	
{% endif %}
	</div>
</section>
{% endblock %}