{% extends 'base.html' %}

{% load static %}

{% block title %} {{ video.title }} {% endblock %}

{% block content%}
<section class="pt-2 pt-xl-3 pb-2">
  <div class="container" data-sticky-container>
    <div class="row g-4">
      <!-- Main content START -->
      <div class="col-lg-8">
        <div class="row g-4">
          <!-- Video content START -->
          <div class="col-12 position-relative">
            <div class="video-player rounded-3">
              <video id="video" class="col-12" controls></video>
            </div>
          </div>
          <!-- Video content END -->
          <div class="col-12">
            <!-- Video details START -->
            <div class="row">
              <h2> {{ video.title }} </h2>
              <h5> {{ video.author.username }} </h5>
            </div>
            <!-- Video details END -->
            <!-- Date content START -->
            <div class="row">
              <p class="col fw-light"> Published at: {{ video.date_published | date:"F, d Y" }} </p>
              <p class="col fw-light"> Updated at: {{ video.date_updated | date:"F, d Y" }} </p>
            </div>
            <!-- Date content END -->
            <div class="row p-2">
              {% csrf_token %}
              <div class="col-md-auto text-uppercase">
                <div class="row">
                  <button
                    id="voteup"
                    class="col btn btn-outline-primary btn-sm text-uppercase">
                    Like
                  </button>
                  <div id="likecount" class="d-flex col align-items-center"></div>
                </div>
              </div>
              <div class="col-md-auto">
                <div class="row">
                  <button
                    id="votedown"
                    class="col btn btn-outline-primary btn-sm text-uppercase">
                    Dislike
                  </button>
                  <div id="dislikecount" class="d-flex col align-items-center"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Description content START -->
          <div class="col-12">
            <div class="card border border-2">
              <!-- Description header START -->
              <div class="card-header border-bottom">
                <h4 class="mb-0"> Description </h4>
              </div>
              <!-- Description header END -->
              <!-- Description body START -->
              <div class="card-body">
                <p class="fw-light"> {{ video.description }} </p>
              </div>
              <!-- Description body END -->
            </div>
          </div>
          <!-- Description START -->
        </div>
      </div>
      <!-- Main content START -->
      <!-- Dependencies sidebar START -->
      <div class="col-lg-4">
        <h3>
          Dependencies
        </h3>
        <div id="dependencies" data-id="{{ video.id }}"></div>
      </div>
      <!-- Dependencies sidebar END -->
    </div>
  </div>
</section>

<script src="https://hls-js.netlify.app/dist/hls.js"></script>
<script type="text/javascript" src="{% static '/js/showVideo.js'  %}"></script>
<script>
  var video = document.getElementById('video');
  if (Hls.isSupported()) {
    var hls = new Hls({
      debug: false,
    });
    hls.loadSource('{{ url }}');
    hls.attachMedia(video);
    hls.on(Hls.Events.MEDIA_ATTACHED, function () {
      // video.play();
    });
  }
  else if (video.canPlayType('application/x-mpegURL')) {
    video.src = '{{ url }}';
    video.addEventListener('canplay', function () {
      video.play();
    });
  }
</script>
{% endblock %}
