{% extends 'base.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static '/css/upload.css' %}">

<section>
		<form  action="update" method="post" enctype="multipart/form-data" >
				{% csrf_token %}
				<p>{{ form.title.label_tag }}</p>
       		<p>
						{{ form.title }}
		    </p>
				<p>{{ form.description.label_tag }}</p>
       		<p>
						{{ form.description }}
		    </p>
            <input type="hidden" name="id" value="{{video.id}}"/>
			<header>
				<h2>Select Dependencies</h2>
			</header>
				<table class="styled-table">
					<thead>
						<tr class="row100 head">
							<th class="cell100 column1">Selected</th>
							<th class="cell100 column2">Search:
								<input id="searchInput" type="search">
								<input id="searchBtn" type="button" value="Search">
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div id="selectCont" class="content">
									{% for dependency in dependencies %}
									<div class='drag' draggable='true' data-id="dependency.id">
										{{dependency.title}}
										<input  type='hidden' name='dependency' value = "{{dependency.id}}"></input>
									</div>
									{% endfor %}
								</div>
							</td>
							<td>
								<div id="searchCont" class="content"></div>
							</td>
							</td>
						</tr>
					</tbody>
				</table>
				<p><input class="large-btn" type="submit" value="Upload" /></p>
		</form>
</section>
<script type="text/javascript" src="{% static '/js/upload.js'  %}"></script>
{% endblock %}
