.styled-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.content{
	overflow-y: scroll;
	height: 19em;
	width: 50vw;
}
.large-btn {
  height: 3rem;
  background-color: rgb(58, 110, 206);
  border: 1px solid white;
  color: white;
}

.drag {
  margin: 2rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.432);
  color: rgb(2, 1, 1);
  border: 1px solid rgb(93, 106, 109);
  cursor: move;
  height:25px;
  width:180px;
}

.drag.ing {
  opacity: 0.5;
}

.fill {
  width: 100%;
  display: table-cell;
}
.cell {
  display: table-cell;
}

#mainTable {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

#mainTable .content-col {
  width: 48%;
}
#mainTable .left-col {
  height: 10rem;
  width: 4%;
}
.sideTitle p {
  margin: auto;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  border: none !important;
}
.styled-table thead tr {
  background-color: #4273cf;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
/**/

label {
  color: #070707;
  font-weight: bold;
  display: block;
  float: left;

}

title.label_tag {
  color: #070707;
  font-weight: bold;
  display: block;

}
.customfile {
  outline: 2px solid gray;
  font-weight: bold;
  color: white;
}
.form-submit-button {
  background: #0066A2;
  color: white;
  border-style: outset;
  border-color: #0066A2;
  height: 50px;
  width: 100px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  }
